<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cart_style.css' %}">
    <title>Your Cart</title>
</head>
<body>
    <h1>Your Shopping Cart</h1>
    <ul>
        {% for item in items %}
        <li>
            Product: {{ item.product.name }} - ₹{{ item.product.price }} (Quantity: {{ item.quantity }}) - ID: {{ item.id }}
                <form action="{% url 'cart_remove' item.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
                
            </li>
        {% empty %}
            <li>Your cart is empty.</li>
        {% endfor %}
    </ul>
    
    {% if items %}
        <h3>Total Amount: ₹{{ total_amount }}</h3>
    {% endif %}
</body>
</html>
