/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Set the body font and background */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    background-image: url('../images/ecommerce-website-design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* Header styles */
header {
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

/* Main content area */
div {
    padding: 20px;
}

/* Title styles */
h1, h2 {
    margin-bottom: 20px;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type=" username"]{
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

button {
    padding: 10px 15px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

/* List styles */
ul {
    padding: 0;
    margin: 20px 0;
}

li {
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

/* Pagination styles */
div.pagination {
    margin: 20px 0;
}

div.pagination a {
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #4CAF50;
    text-decoration: none;
}

div.pagination a:hover {
    background: #4CAF50;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    overflow-x: auto;
    
}

img {
    max-width: 100%;
    height: auto;
}