{% extends "base_generic.html" %}

{% block title %}Welcome - My E-commerce Site{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h2>Welcome to My E-commerce Site!</h2>
    <img src="{% static 'images/ecommerce-website-design.png' %}" alt="Welcome Image" style="max-width: 100%; height: auto;">

    <p>Your one-stop shop for everything!</p>
    <a href="{% url 'signup' %}" class="btn">Sign Up</a>
    <a href="{% url 'login' %}" class="btn">Login</a>
</div>
{% endblock %}
